## Importing Dependencies

In [1]:
# import matplotlib
# import matplotlib.pyplot as plt
# plt.style.use('ggplot')
# from matplotlib.pyplot import figure
# %matplotlib inline
# matplotlib.rcParams['figure.figsize'] = (12,8)

# import seaborn as sns
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

## Reading in CSV

In [2]:
# Reading in CSV

movies_df = pd.read_csv('data/movies.csv')
movies_df

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,More to Life,NaN,Drama,2020,"October 23, 2020 (United States)",3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,NaN,NaN,90.0
7664,Dream Round,NaN,Comedy,2020,"February 7, 2020 (United States)",4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.0
7665,Saving Mbango,NaN,Drama,2020,"April 27, 2020 (Cameroon)",5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,NaN,Embi Productions,NaN
7666,It's Just Us,NaN,Drama,2020,"October 1, 2020 (United States)",NaN,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0
7667,Tee em el,NaN,Horror,2020,"August 19, 2020 (United States)",5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.0

In [3]:
movies_df.columns

Index(['name', 'rating', 'genre', 'year', 'released', 'score', 'votes',
       'director', 'writer', 'star', 'country', 'budget', 'gross', 'company',
       'runtime'],
      dtype='object')

## Identifying and amending null values

In [4]:
# Checking for missing data

for col in movies_df.columns:
    pct_missing = np.mean(movies_df[col].isnull())
    print('{} - {}%'.format(col, pct_missing))

name - 0.0%
rating - 0.010041731872717789%
genre - 0.0%
year - 0.0%
released - 0.0002608242044861763%
score - 0.0003912363067292645%
votes - 0.0003912363067292645%
director - 0.0%
writer - 0.0003912363067292645%
star - 0.00013041210224308815%
country - 0.0003912363067292645%
budget - 0.2831246739697444%
gross - 0.02464788732394366%
company - 0.002217005738132499%
runtime - 0.0005216484089723526%

In [5]:
# Checking all columns with null values in dataFrame

print("Total Number of null values in the DataFrame: " + str(movies_df.isnull().sum().sum()))
print("Breakdown of null values by column: " + str(movies_df.isnull().sum()))

Total Number of null values in the DataFrame: 2473
Breakdown of null values by column: name           0
rating        77
genre          0
year           0
released       2
score          3
votes          3
director       0
writer         3
star           1
country        3
budget      2171
gross        189
company       17
runtime        4
dtype: int64

In [6]:
# Checking null values by a single column

print("Number of null values in column 'budget': " + str(movies_df.iloc[:, 11].isnull().sum()))
print("Number of null values in column 'gross': " + str(movies_df.iloc[:, 12].isnull().sum()))

Number of null values in column 'budget': 2171
Number of null values in column 'gross': 189

In [7]:
# Dropping rows with null values

movies_df = movies_df.dropna()

# Re-checking if NANs dropped

for col in movies_df.columns:
    pct_missing = np.mean(movies_df[col].isnull())
    print('{} - {}%'.format(col, pct_missing))

name - 0.0%
rating - 0.0%
genre - 0.0%
year - 0.0%
released - 0.0%
score - 0.0%
votes - 0.0%
director - 0.0%
writer - 0.0%
star - 0.0%
country - 0.0%
budget - 0.0%
gross - 0.0%
company - 0.0%
runtime - 0.0%

## Cleaning and normalizing data

In [8]:
# Modifying data type to remove decimal place

movies_df['budget'] = movies_df['budget'].astype('int64')
movies_df['gross'] = movies_df['gross'].astype('int64')
movies_df['runtime'] = movies_df['runtime'].astype('int64')
movies_df['votes'] = movies_df['votes'].astype('int64')
movies_df.dtypes

name         object
rating       object
genre        object
year          int64
released     object
score       float64
votes         int64
director     object
writer       object
star         object
country      object
budget        int64
gross         int64
company      object
runtime       int64
dtype: object

In [9]:
# Splitting 'released' column after each delimiter
# We will be picking apart what we want to keep in 'released'

movies_df = movies_df.join(movies_df['released'].str.split(expand=True))
movies_df.head(1)

,name,rating,genre,year,released,score,votes,director,writer,star,...,budget,gross,company,runtime,0,1,2,3,4,5
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000,Stanley Kubrick,Stephen King,Jack Nicholson,...,19000000,46998772,Warner Bros.,146,June,"13,",1980,(United,States),None

In [10]:
movies_df["Country Released"] = movies_df[3].combine(movies_df[4], lambda a, b: ((a or "") + (b or  "")) or None, None)
movies_df["Country Released"].value_counts()

(UnitedStates)     5066
(UnitedKingdom)      86
(France)             41
(Germany)            25
(Spain)              14
(Australia)          13
(Canada)             13
(Japan)              11
(Italy)              10
(SouthKorea)         10
(Brazil)              9
(Denmark)             9
States)               7
(Argentina)           7
(China)               6
(Israel)              6
(Netherlands)         6
(Russia)              6
(Greece)              5
(Singapore)           4
(SouthAfrica)         4
(Iceland)             4
(Ireland)             4
(HongKong)            4
(Norway)              4
(Sweden)              3
(Mexico)              3
(India)               3
(Taiwan)              3
(Croatia)             2
(Philippines)         2
(Bulgaria)            2
(Portugal)            2
(Turkey)              2
(Poland)              2
(Lebanon)             2
(Belgium)             2
(Austria)             1
(Malaysia)            1
(Latvia)              1
(Finland)             1
(NewZealand)          1
(Iran)                1
(Hungary)             1
(UnitedArab           1
(Bahamas)             1
(CzechRepublic)       1
Kingdom)              1
(Thailand)            1
(Bahrain)             1
Name: Country Released, dtype: int64

In [11]:
# Combining and cleaning up country names

movies_df["Country Released"] = movies_df["Country Released"].replace(
    ['States)', 'Kingdom)','(UnitedArab','(SouthKorea)','(SouthAfrica)','(NewZealand)','(CzechRepublic)'],
    ['(UnitedStates)','(UnitedKingdom)','(United Arab Emirates)','(South Korea)','(South Africa)','(New Zealand)','(Czech Republic)'])

In [12]:
# This will remove unwanted parenthesis, but keeping text within

movies_df["Country Released"] = movies_df["Country Released"].str.extract('.*\((.*)\).*')

In [13]:
# Cleaning up country column

movies_df["Country Released"] = movies_df["Country Released"].replace(['UnitedStates','UnitedKingdom','HongKong'],
                                                                      ['United States','United Kingdom','Hong Kong'])
movies_df["Country Released"].value_counts()

United States           5073
United Kingdom            87
France                    41
Germany                   25
Spain                     14
Canada                    13
Australia                 13
Japan                     11
Italy                     10
South Korea               10
Denmark                    9
Brazil                     9
Argentina                  7
Russia                     6
Israel                     6
Netherlands                6
China                      6
Greece                     5
Ireland                    4
Singapore                  4
South Africa               4
Hong Kong                  4
Iceland                    4
Norway                     4
Taiwan                     3
India                      3
Mexico                     3
Sweden                     3
Turkey                     2
Portugal                   2
Philippines                2
Croatia                    2
Poland                     2
Lebanon                    2
Bulgaria                   2
Belgium                    2
Bahamas                    1
Malaysia                   1
Czech Republic             1
New Zealand                1
Bahrain                    1
Finland                    1
Hungary                    1
Thailand                   1
Iran                       1
United Arab Emirates       1
Latvia                     1
Austria                    1
Name: Country Released, dtype: int64

In [14]:
# Correcting mismatch between 'year' column and 'released' column
# Dropping country since we produced a 'country released column'

movies_df = movies_df.drop(columns=[0,1,3,4,5,'year','released','country'])
movies_df = movies_df.rename(columns={2: 'Year released'})


movies_df.columns = movies_df.columns.str.capitalize()
movies_df.head(1)

,Name,Rating,Genre,Score,Votes,Director,Writer,Star,Budget,Gross,Company,Runtime,Year released,Country released
0,The Shining,R,Drama,8.4,927000,Stanley Kubrick,Stephen King,Jack Nicholson,19000000,46998772,Warner Bros.,146,1980,United States

In [15]:
# Rechecking values, but found there are a few discrepancies with 'year released' & 'country released'

movies_df['Year released'].value_counts()

2011           170
2002           169
2003           168
2008           167
2009           166
2000           166
2007           165
2015           163
2006           162
2014           161
2013           161
2010           161
1999           159
2001           159
2005           159
2004           159
2016           158
2012           158
1998           148
1997           147
2017           146
2018           144
1996           143
1995           138
1993           134
1994           132
1992           124
1989           121
2019           120
1988           118
1991           114
1990           108
1987           103
1986            98
1985            94
1984            88
1983            85
1982            70
1981            54
1980            36
2020            11
(United          8
States)          3
(Australia)      1
Name: Year released, dtype: int64

In [16]:
# movies_df[movies_df['Year released'] == '(United']
# movies_df[movies_df['Year released'] == 'States)']
# movies_df[movies_df['Year released'] == '(Australia)']

In [17]:
# Updating specific cells utilizing '.at' 

movies_df.at[449,'Year released'] = 1983
movies_df.at[467,'Year released'] = 1983
movies_df.at[1212,'Year released'] = 1988
movies_df.at[1404,'Year released'] = 1988
movies_df.at[1819,'Year released'] = 1990
movies_df.at[2029,'Year released'] = 1991
movies_df.at[2318,'Year released'] = 1993
movies_df.at[2319,'Year released'] = 1993
movies_df.at[800,'Year released'] = 1985
movies_df.at[800,'Country released'] = 'United States'
movies_df.at[1173,'Year released'] = 1988
movies_df.at[1173,'Country released'] = 'United States'
movies_df.at[4187,'Year released'] = 2002
movies_df.at[4187,'Country released'] = 'United States'
movies_df.at[5833,'Year released'] = 2010
movies_df.at[5833,'Country released'] = 'United States'

In [18]:
# Last check to clean up any NULL values

movies_df.isnull().sum()

Name                0
Rating              0
Genre               0
Score               0
Votes               0
Director            0
Writer              0
Star                0
Budget              0
Gross               0
Company             0
Runtime             0
Year released       2
Country released    2
dtype: int64

In [19]:
# Identifying which rows have NULL value and cleaning it up

is_NaN = movies_df.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = movies_df[row_has_NaN]
rows_with_NaN

,Name,Rating,Genre,Score,Votes,Director,Writer,Star,Budget,Gross,Company,Runtime,Year released,Country released
312,Five Days One Summer,PG,Drama,6.1,1000,Fred Zinnemann,Michael Austin,Sean Connery,15000000,199078,Cable and Wireless Finance,108,None,NaN
2816,The White Balloon,Unrated,Drama,7.7,6900,Jafar Panahi,Abbas Kiarostami,Aida Mohammadkhani,150000,924940,Farabi Cinema Foundation,85,None,NaN

In [20]:
movies_df.at[312,'Year released'] = 1982
movies_df.at[312,'Country released'] = 'United States'
movies_df.at[2816,'Year released'] = 1995
movies_df.at[2816,'Country released'] = 'Iran'

In [21]:
# No more nulls...YES!

movies_df.isnull().sum().sum()

0

## Saving Cleaned DataFrame to CSV

In [22]:
movies_df.to_csv("data/movies_df_clean.csv",index=False)